@import "tailwindcss";

@theme {
  --color-fw-cover: #2d112b;
  --color-fw-accent: #f4ae2b;
  --color-fw-accent-text: #1d0707;
  --color-fw-ribbon: #b54b17;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    @apply m-0 size-full bg-[#fedcc8];
  }
}

@keyframes layer-enter {
  from {
    transform: translateX(calc(var(--mouse-x) * var(--x-factor)))
      translateY(110vh);
  }

  to {
    transform: translateX(calc(var(--mouse-x) * var(--x-factor))) translateY(0);
  }
}

@keyframes cover-enter {
  from {
    transform: translate3d(0, 110vh, 1px);
  }

  to {
    transform: translate3d(0, 0, 1px);
  }
}

@keyframes logo-enter {
  from {
    transform: translateX(calc(-50% + (var(--mouse-x) * var(--logo-x-factor))))
      translateY(calc(-50% + 110vh));
  }

  to {
    transform: translateX(calc(-50% + (var(--mouse-x) * var(--logo-x-factor))))
      translateY(-50%);
  }
}
